@{
    ViewData["Title"] = "About Mark";
}
<style>
.markLinks {
    color: black;
    text-decoration: none;
    border: 2px solid lightskyblue;
    font-size: x-large;
    border-radius: 20px;
    padding: 10px;
}
.markLinks:hover {
    text-decoration: none;
    color: white;
    background-color: lightskyblue;
    transition-duration: 500ms;
}
.markLinks:active {
    color: lightskyblue;
    background-color: black;
}
.listItem {
    margin: 20px 20px;
    float: left;
}
ul {
    list-style-type: none;
}
</style>

<span><h1><strong>This is the page where you learn about Mark.</strong></h1></span>
<span><h2>Here are some things that Mark is good at:</h2></span>
<ul>
    
    <li class="listItem"><a href="https://en.wikipedia.org/wiki/Eating" class="markLinks">Eating</a></li>
    <li class="listItem"><a href="https://en.wikipedia.org/wiki/Basketball" class="markLinks">Basketball</a></li>
    <li class="listItem"><a href="https://en.wikipedia.org/wiki/Lacrosse"class="markLinks">Lacrosse</a></li>
    <li class="listItem"><a href="http://www.music.com/" class="markLinks">Music</a></li>
    <li class="listItem"><a href="https://www.microsoft.com/en-us" class="markLinks">Coding ;)</a></li> 
</ul>


<!--<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["MarkInfo"]</h3>-->

