@{
    ViewData["Title"] = "About";
}
<h1>This is the special page</h1>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["SpecialInfo"]</h3>

<p>Use this area to provide additional information.</p>
